body{
   
}


#emptyFirstName, #invalidFirstName, #emptyAge, #invalidAge ,#invalidLastname,#emptyLastname{
    display: none;
    color: red;
    

}

/* tr{
    width: 400px;
}
input{
    margin-left: -100px;
    margin-right:0px;
   
} */









::placeholder{
    color: rgb(51, 51, 202)
}



