
.animations{
     width: 100px;
    height: 100px;
    border: 2px solid black;
    margin:auto;
    background-color: #f00;
    /* animations */
    animation: myBox 2s  0s ease-in-out 1 ;
}
 
@keyframes myBox{
    0%{
        position: relative;
        top:0px;
        right:0px;
    }
    100%{
        position: relative;
        top:0px;
        right:0px;
        background-color: rgb(70, 59, 59);
    }
}